.headerNav {
  min-width: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  list-style-type: none;
}

@media (max-width: 960px) {
  .headerNav {
    display: none;
  }
}