.header {
  position: fixed;
  padding-top: 10px;
  top: 0;
  max-width: 1180px;
  width: 95%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--green);

  z-index: 100;
}
.header.scroll {
  background-color: rgba(17,71,78,0.8);
}
.btnWrp {
  width: 200px;
}

@media (max-width: 960px) {
  .btnWrp {
    display: none;
  }
}