:root {
  --white: #fff;
  --black: #0B0C10;
  --gray: #C5C6C7;
  --dark: #11474e;
  --blue: #66FCF1;
  --bg-blure: rgba(255, 255, 255, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: var(--white);
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  transition: all 1s ease 0s;
}

body {
  position: relative;
  background-color: var(--dark);
  z-index: -16;

  overflow-x: hidden; 
}

.App {
  max-width: 1200px;
  width: 100%;
  margin: auto;
  padding: 10px;
}

h1 {
  width: 100%;
  max-width: 1000px;
  font-size: 8rem;
  line-height: 1.2;
  background-color: var(--blue);
  background-image: linear-gradient(0deg, rgba(102,252,241,1) 0%, rgba(102,169,252,1) 40%, rgba(253,45,159,1) 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;

  position: relative;
  z-index: 10;
}

h2 {
  margin: 5rem auto;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: lowercase;
  color: inherit;
  position: relative;
  z-index: 10;
}
h3 {
  margin: 1.6rem auto;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  text-transform: lowercase;
  color: var(--blue);
  position: relative;
  z-index: 10;
}
p {
  font-size: 1.8rem;
  line-height: 1.2;
  position: relative;
  z-index: 10;
}

p.pg-light {
  font-size: 1.4rem;
  font-weight: 100;
  position: relative;
  z-index: 10;
}
.text-blue {
  color: var(--blue);
}
strong.text-blue {
  display: block;
  font-size: inherit;
  font-weight: inherit;
  color: var(--blue);
  position: relative;
  z-index: 10;
}
a {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;
  z-index: 10;

  cursor: pointer;
}

li {
  list-style-type: none;
}

a:hover {
  color: var(--blue);
}
.active {
  color: var(--blue);
}
.blue-btn {
  width: 100%;
  padding: 7px 30px;
  font-size: 1.8rem;
  color: var(--white);
  text-align: center;
  border: 2px solid var(--blue);
  border-radius: 30px;
  background-color: transparent;

  cursor: pointer;
}

.blue-btn:hover {
  -webkit-box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
  -moz-box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
  box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
}

.custom-input {
  width: 100%;
  padding: 11px 15px;
  font-size: 1.8rem;
  line-height: 1.2;
  color: inherit;
  border: none;
  border-bottom: 2px solid var(--blue);
  background-color: transparent;
}

textarea.custom-input {
  width: 100%;
  height: 100px;
  resize: none;
}

.custom-input:active,
.custom-input:focus {
  outline: none;
}

.custom-checkbox {
  margin: 10px 0;
  display: flex;
  align-items: center;

  font-size: 1.6rem;
  color: inherit;

  cursor: pointer;
  -ms-user-select: none; 
  -moz-user-select: none; 
  -webkit-user-select: none; 
  user-select: none; 
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  display: block;
  border: 1px solid var(--blue);
  border-radius: 3px;

  text-align: center;
  font-size: 1.2rem;
  color: transparent;
}

.custom-checkbox input:checked ~ .checkmark {
  background-image: url('./components/assets/svg/checkmark_83735.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 60%;
}

.custom-checkbox:hover .checkmark {
  -webkit-box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
  -moz-box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
  box-shadow: 0px 0px 28px 1px rgba(102, 252, 241, 0.2);
}

.custom-checkbox input:checked ~ .checkmark {
  color: var(--blue);
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

@media (max-width: 960px) {
  h1 {
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3rem;
  }
    
  p {
    font-size: 1.5rem;
  }

  p.pg-light {
    font-size: 1.3rem;
  }
}